<div class="container">
    <div class="row m-3">
        <div class="col">
            <h3>Chat Bot Source Code</h3>
            <p>Source code for the bot can be found <a href="https://github.com/ccaison/flask_chatbot">on github</a>.  It makes extensive use of HuggingFace's ConvAI. A description of their approach can be found <a href="https://medium.com/huggingface/how-to-build-a-state-of-the-art-conversational-ai-with-transfer-learning-2d818ac26313">here</a>.</p>
            <p>
            The bot connects to a chat server written in <a href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a> and <a href="https://flask-socketio.readthedocs.io/en/latest/">Flask-Socketio</a>. Source code for the chat server can be found <a href="https://github.com/ccaison/flask_chat">on github</a>. 
            </p>
        </div>
    </div>
</div>