<div class="container">
    <div class="row m-3">
        <div class="col">
            <h2 class="text-center">Artificial Intelligence and the Turing Test</h2>
            <p>
                The Turing Test is a test to see if an A.I. has the ability to fool people into thinking it is a real
                human being. A.I. is a robot or machine that wants to try to replicate a human conversation. The Turing
                Test was based off of a concept proposed by a British Computer Scientist named Alan Turing. Many types
                of A.I. have been created in real life, with various functions. People have also come up with many ideas
                of A.I. and used them in fictitious stories. When looking at all of these things we can come up with our
                own idea of an A.I. we want to make, but we will need the tools to do so. Many different programs can be
                used to create and develop different A.I. There are lots of uses for A.I. as well.
            </p>
            <p>
                Born June 23, 1912, Alan Turing was British Computer Scientist, he is well known for his work on
                cracking the enigma code, creating the modern computer, and coming up with the concept of the Imitation
                game. The enigma code was code that the German’s used to decrypt messages during WW2. He worked to crack
                the enigma code in order to end World War Two, and he did crack it. He was now a hero for his work in
                ending the war. However, because he was openly homosexual, which was looked down upon at the time, he
                was treated very harshly and treated to a brutal therapy because he was gay, which was looked down upon
                at the time. He also carved the pathway that would lead to the computers of today, by working on what
                would become an early version of what now is the modern computer. Another thing he invented was the
                Imitation game, a simple party game where one person would be a judge, and the other two would be a male
                and a female. The female would try to trick the judge into thinking they were the male, or the other way
                around. However, the judge could not see the other two, so they would have to go off of the information
                they had in order to make a decision on which was which. They got the information from being told things
                and lies by the two other people. This later became the basis of what would go on to become the Turing
                Test. Because being gay was deemed illegal at the time, he was considered as having done an offense, and
                was treated harshly. It is suspected that he ingested a poisoned apple knowingly because he was tired of
                being treated poorly. He died in 1954. In 2013 he was officially pardoned for his sexual orientation.
                Many people look to him as the founding father of the computer that is now commonplace today. (Hodges)
                (Hom)

            </p>
            <p>
                The Turing Test is an offspring of the party game called the Imitation Game. The Turing Test was created
                to test how well an A.I. could trick a judge into assuming it was a real person. Many attempts have been
                made to create the perfect A.I. that can replicate a human, many have tried and failed. Some are even
                suspected of cheating. The way the Turing Test works is that a judge would have a text conversation over
                the computer with a group of others, one might be a machine, and the judge would have to determine which
                one of the people they were texting with was an A.I. Because the judge could not see which one the A.I.
                was they would have to make a decision based off of the information they had at the time. The judge
                could figure out which one was the A.I. by saying nonsensical things and waiting to see the recipient’s
                response. Or they could use an idiom that only a person could understand. If the judge was paying close
                attention they could ask a math problem and see how quickly the other responded. An A.I. could easily
                quickly answer a math equation, but a person may not be able to respond with the answer quite as fast as
                a machine. Using methods such as these, a judge could trick an A.I. into revealing that it was not
                another human. Another thing you could keep in mind is the fact that people might respond slowly to
                certain things, or retype something before they send it, minor details like this could be used to
                determine whether an A.I. is human or machine. As people we say things like “um” and “uh”, these could
                also confuse an A.I. Many people have made A.I. that they have tested to see if they can pass the Turing
                Test. One such A.I. is called Eliza. Eliza was designed to imitate a psychologist. They implemented some
                trickery in order to sell the illusion. Eliza would redirect questions, a judge would ask back at them.
                Using this strategy, this artificial intelligence hoped to trick the judges. Another Artificial
                Intelligence that used a similar tactic was Parry, an A.I. that acted like a schizophrenic. However,
                instead of redirecting questions he instead only talked about his pre-programmed obsessions. Catherine
                was an A.I. that could carry on intelligent conversations, however only about one subject, Bill Clinton.
                Cleverbot is a chat bot that uses a different tactic. Cleverbot uses a massive database in order to draw
                from different conversation in order to come up with an intelligent response. While this may seem like a
                good tactic, and Cleverbot can respond well, but Cleverbot is not very good at carrying on intelligent
                conversations for very long. Finally, Eugene Goostman is an A.I. that may not be that intelligent, but
                the creators said that was only because of language and culture barriers. Eugene Goostman is an
                artificial intelligence that takes on the persona of a thirteen year old Ukrainian boy. The problem with
                Eugene is that the developers selected the judges and blamed poor A.I. on language and culture barriers.
                (Gendler) Because of this some people question how accurate claims to Eugene Goostman passing the Turing
                Test really are. Some people think that there should be a better alternative to the Turing Test as they
                think that is encourages trickery more than it does actual good A.I.. A bad A.I. that uses trickery
                could fool the judges who were not playing absolute close attention, but not actually keep up a good
                conversation. (Ball) Some might also say that the original concept for the Turing Test was based off of
                a party game, and that because of this we should find an alternative.
            </p>
            <p>
                There are many ways that we can create an A.I.. We can use programming tools such as python, R, Lisp,
                Prolog, and Java. (Top 5 best Programming Languages for Artificial Intelligence field) While these tools
                can take a while to learn, you can make great A.I. with them. People want different A.I. to be able to
                do different things, such as emotional support, or a romantic partner. (Why do people want to make an
                A.I. that can pass the Turing Test?) A.I. could try to recognize certain people asking It a question.
                There are also business reasons for having A.I. around. Businesses use A.I. for analytics and surveys to
                know what people want, and A.I. could also help with advertising. Even NASA is using A.I. Their A.I.
                Cimon kept astronauts emotions in check. (Wall) A.I. such as Data, Hal9000, Marvin, R2D2, and C-3PO are
                fictional A.I. that have been used in works of literature. A.I. is very popular in science fiction.
                (Halliburton) There are also A.I. that has been made in real life that help with everyday things. Alexa
                helps with things such as shopping lists and answering simple questions. Banjo is a company that is
                working on an A.I. that scans the internet to see if there are any people in danger such as floods or
                fire. While Alexa can be successful when it comes to answering questions sometimes, it can be annoying
                when she responds incorrectly to something that you had said, this is one of the things that A.I. does a
                lot and marks one of the problems with some A.I.
            </p>
            <p>
                In conclusion, the Turing Test is a method of testing A.I. to see how well it holds up when put on trial
                against judges. These judges have to guess whether the A.I. is human or not. The Turing test is built
                off of a simple party game called the Imitation Game, where a judge has to try to guess the genders of
                the other players, while one of the other players has to trick the judge. We used an open A.I. While
                there are many types of A.I. and uses for them, many people doubt that any modern A.I. could ever pass
                the test. While others say that the test is to blame for encouraging trickery more than it does actually
                good Artificial intelligence.

            </p>

            <h3>Bibliography</h3>
            <ol>
                <li>
                    <p><cite><a href="https://www.predictiveanalyticstoday.com/artificial-intelligence-platforms">
                                Artificail intelegence platforms.</a> n.d.</cite>  Online. 13 April 2020.</p>
                </li>
                <li>
                    <p>Ball, Philip. <cite><a
                                href="https://www.bbc.com/future/article/20150724-the-problem-with-the-turing-test">the
                                problem with the turing test</a></cite>, Online. 13 April 2020.</p>
                </li>
                <li>
                    <p>Botha, Marc. <cite><a
                                href="https://towardsdatascience.com/the-15-most-important-ai-companies-in-the-world-79567c594a11">The
                                15 most important AI companies in the world.</a></cite> Online. 28 January 2019. </p>
                </li>
                <li>
                    <p>Geere, Duncan. <cite><a
                                href="https://www.wired.com/2012/06/pass-turing-ai-test ">The
                                How to Pass the Turing Artificial Intelligence Test. 19 May 2012.</a></cite> Online. 9 April 2020. </p>
                </li>
                <li>
                    <p>Gendler, Alex. <cite><a
                                href="https://www.youtube.com/watch?v=3wLqsRLvV-c">The
                                "The Turing test: Can a computer pass for a human." </a></cite> Youtube. TED-Ed, 25 April 2016. Video. </p>
                </li>
                <li>
                    <p>Halliburton, Keli. <cite><a
                                href="https://www.quora.com/What-are-some-good-examples-of-benevolent-AI-in-science-fiction">The
                                What are some good examples of benevolent AI in science fiction?</a> 3 June 2016.</cite> Online. 22 April 2020. </p>
                </li>
                <li>
                    <p> Hardesty, Larry. <cite>The
                                Hardesty, Larry. "Computer system passes visual Turing test." 10 December 2015. M.I.T. News.</cite> Online. 25 March 2020. </p>
                </li>
                <li>
                    <p> Hodges, Andrew. <cite><a href="https://www.turing.org.uk/publications/dnb.html">Alan Turing — a short biography.</a> 1995.</cite> Online. 25 March 2020. </p>
                </li>
                <li>
                    <p> Hom, Elaine. <cite><a href="https://www.livescience.com/29483-alan-turing.html">Alan Turing Biography: Computer Pioneer, Gay Icon.</a> 23 June 2013.</cite> Online. 16 April 2020. </p>
                </li>
                <li>
                    <p> Oppy, Graham and David Dowe. <cite><a href="https://plato.stanford.edu/entries/turing-test">The Turing Test.</a> 21 March 2019. Web Page. </cite> Online. 23 March 2020. </p>
                </li>
                <li>
                    <p><cite><a href="https://www.geeksforgeeks.org/top-5-best-programming-languages-for-artificial-intelligence-field"> Top 5 best Programming Languages for Artificial Intelligence field.</a> n.d. </cite> Online. 7 April 2020. </p>
                </li>
                <li>
                    <p>University of Toronto. n.d. <cite><a href="http://www2.psych.utoronto.ca/users/reingold/courses/ai/turing.html">University of Toronto.</a></cite> Online. 25 March 2020.</p>
                </li>
                <li>
                    <p>Wall, Mike. <cite><a href="https://www.space.com/cimon-2-artificial-intelligence-robot-space-station.html">Emotionally Intelligent Robot CIMON 2 Heads to Space Station.</a> 5
                        December 2019.</cite> Online. 23 April 2020.</p>
                </li>
                <li>
                    <p>Warwick, Kevin, and Huma Shah. <cite>"Passing the Turing Test Does Not Mean the End of
                        Humanity." Cognitive Computation 08 (2016): 409-419. </cite> Online.</p>
                </li>
                <li>
                    <p>Warwick, Kevin, and Huma Shah. <cite><a href="https://www.sas.com/en_us/insights/analytics/what-is-artificial-intelligence.html">what is artificail inteligence.</a> n.d.</cite>Online. 13 April 2020. </p>
                </li>
                <li>
                    <p><cite><a href="https://www.wired.com/insights/2014/08/passing-turing-test-redefining-means-think ">Why do people want to make an A.I. that can pass the Turing Test?</a> n.d.</cite>Online. 13 April 2020. </p>
                </li>
            </ol>
        </div>
    </div>
</div>