<!DOCTYPE html>
<html lang="en">

<head>
    <title>Trevor Chat AI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <style>
        body {
            background-color: #eeee;
        }

        div.message_holder {
            height: 600px;

            overflow-y: scroll;
            overflow-x: hidden;
            background-color: #ffff;
        }

        input[type="text"],
        textarea {
            outline: none;
            box-shadow: none !important;
            border: 1px solid #ccc !important;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
        <span class="navbar-brand mb-0 h1">TuringBot</span>
          <div class="navbar" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                {% if current_user.is_authenticated %}
                <a class="nav-link" href="{{url_for('security.logout')}}">Logout</a>
                {% else %}
                <a class="nav-link" href="{{url_for('security.login')}}">Login</a>
                {% endif %}
              </li>
            </ul>
            
          </div>
          <div class="container"></div>
      </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col">

        </div>
        </div>


<div class="container mt-3">
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="chat-tab" data-toggle="tab" href="#chat" role="tab" aria-controls="home" aria-selected="true">Chat</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="paper-tab" data-toggle="tab" href="#paper" role="tab" aria-controls="paper" aria-selected="false">Paper</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="code-tab" data-toggle="tab" href="#code" role="tab" aria-controls="code" aria-selected="false">Source Code</a>
  </li>
</ul>
</div>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="chat" role="tabpanel" aria-labelledby="chat-tab">
        <div class="container">
        <div class="row mt-3">
            <!--<div class="col message_holder ml-3 mr-3 p-3" id="message_holder"></div>-->
            <!--<div class="message_holder" ></div>-->
            <div class="container message_holder light" id="message_holder"></div>
        </div>
        {% if current_user.is_authenticated %}
        <div class="row mt-3">
            <div class="container">
                <form action="" method="POST">
                    <div class="input-group mb-10">
                        <input type="text" class="form-control" id="message" placeholder="Type a message" />
                        <div class="input-group-append">
                            <input type="submit" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% else %}
        <div class="row mt-3">
            <div class="container">
                Please <a href="{{url_for('security.login')}}">login</a> to chat with the bot.
            </div>
        </div>
        {% endif %}
        <!--end of form input-->
        </div>
    </div>
    <div class="tab-pane fade" id="paper" role="tabpanel" aria-labelledby="paper-tab">{% include 'paper.html' %}</div>
    <div class="tab-pane fade" id="code" role="tabpanel" aria-labelledby="code-tab"> {% include 'code.html' %}</div>
    </div>


</body>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script type="text/javascript">


    function updateScroll() {
        var element = document.getElementById("message_holder");
        element.scrollTop = element.scrollHeight;
    }

    function clearInputField() {
        $('#message').val('');
    }

    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function () {
        socket.emit('response_msg', {
            type: 'connect',
            json_msg: 'User Connected',
        })
        var form = $('form').on('submit', function (e) {
            e.preventDefault()
            let user_input = $('#message').val() //input.message
            socket.emit('response_msg', {
                type: 'msg',
                message: user_input
            })
            $('#message').val('').focus()
        })
    })

    socket.on('response_msg', function (msg) {
        console.log(msg)
        if (typeof msg.user_name !== 'undefined') {
            $('#message_holder').append('<div class="container"><div class="row"><div class="col-2">' + msg.user_name + '</div><div class="col-10"><p>' + msg.message + '</p></div></div>')
            //clearInputField();
            updateScroll();
        }
    })
    //<div class="row"><div class="col-2"><p><b style="color: #000">' + msg.user_name + '</b> </p></div><div class="col-10 text-wrap"><p class="test-justify">' + msg.message + '</p></div></div>'
</script>

</html>